.paying-section {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: #e7e9ee;
    z-index: 122;
    left: 0px;
    bottom: 0px;
    width: 197px;
    height: 263px;
    background-size: contain;
  }
}

.work-card {
  position: relative;

  @for $i from 1 through 4 {
    &:nth-child(#{$i})::after {
      content: "0#{$i}";
      position: absolute;
      color: rgba(5, 95, 91, 0.1);
      font-size: 72px;
      font-weight: bold;
      z-index: 122;
      right: 10%;
      top: 40px;
    }
  }
}
