// ======= Navbar Section Styles Start ============
.navbar {
  &::after {
    content: "";
    top: 100%;
    position: absolute;
    border-bottom: 1px solid rgba(233, 248, 247, 0.1254901961);
    width: 96%;
    left: 2%;
    z-index: 1;
  }
}

// ======= Navbar Section Styles End ============

// ======= Banner Section Styles Start ============
.main-heading {
  line-height: 120%;
}

.card {
  margin-top: 70px;

  &__left {
    left: 23%;
    transform-origin: left bottom;
    bottom: -20%;
    transform: rotateZ(340deg);
    position: absolute;
    transition: 1s;
    z-index: -1;
  }

  &__right {
    right: 22%;
    transform-origin: left bottom;
    bottom: 0%;
    transform: rotateZ(-340deg);
    position: absolute;
    transition: 1s;
    z-index: -1;
  }

  @media only screen and (max-width: 1023px) {
    &__left {
      left: 17%;
      bottom: -25%;
      width: 250px;
    }

    &__right {
      right: 15%;
      bottom: 0%;
      width: 250px;
    }
  }

  @media only screen and (max-width: 767px) {
    &__left {
      left: 17%;
      bottom: -25%;
      width: 200px;
    }
    &__mobile {
      width: 250px;
    }

    &__right {
      right: 15%;
      bottom: 0%;
      width: 200px;
    }
  }
}

.banner-objects {
  &__left {
    top: 20%;
    width: 75%;
  }

  &__right {
    right: 20%;
    top: 40%;
  }
}

// ======= Banner Section Styles End ============
.loan-section {
  &__sub-heading {
    &::after {
      content: "";
      border-bottom: 1px solid #000;
      width: 71px;
    }
  }
}
// ======= Loan Section Styles Start ============

// ======= Loan Section Styles End ============

@media only screen and (max-width: 1023px) {
  .banner-objects {
    &__right {
      right: 10%;
      top: 29%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .banner-objects {
    &__right {
      right: 10%;
      top: 29%;
    }
  }
}
@media only screen and (max-width: 639px) {
  .banner-objects {
    &__right {
      right: 10%;
      top: 29%;
    }
  }
}

.swiper-wrapper {
  display: flex;
  justify-items: center;
}
