:root {
  --primary-color-2: #ffd584;
}

// ======= Navbar Section Styles Start ============
.navbar {
  &::after {
    content: "";
    top: 100%;
    position: absolute;
    border-bottom: 1px solid rgba(233, 248, 247, 0.1254901961);
    width: 96%;
    left: 2%;
    z-index: 1;
  }
}

// ======= Navbar Section Styles End ============

// ======= Banner Section Styles Start ============
.main-heading {
  line-height: 120%;
}

.card {
  margin-top: 70px;

  &__left {
    left: 23%;
    transform-origin: left bottom;
    bottom: -20%;
    transform: rotateZ(340deg);
    position: absolute;
    transition: 1s;
    z-index: -1;
  }

  &__right {
    right: 22%;
    transform-origin: left bottom;
    bottom: 0%;
    transform: rotateZ(-340deg);
    position: absolute;
    transition: 1s;
    z-index: -1;
  }

  @media only screen and (max-width: 1023px) {
    &__left {
      left: 17%;
      bottom: -25%;
      width: 250px;
    }

    &__right {
      right: 15%;
      bottom: 0%;
      width: 250px;
    }
  }

  @media only screen and (max-width: 767px) {
    &__left {
      left: 17%;
      bottom: -25%;
      width: 200px;
    }
    &__mobile {
      width: 250px;
    }

    &__right {
      right: 15%;
      bottom: 0%;
      width: 200px;
    }
  }
}

.banner-objects {
  &__left {
    top: 20%;
    width: 75%;
  }

  &__right {
    right: 20%;
    top: 40%;
  }
}

// ======= Banner Section Styles End ============
.loan-section {
  &__sub-heading {
    &::after {
      content: "";
      border-bottom: 1px solid #000;
      width: 71px;
    }
  }
}
// ======= Loan Section Styles Start ============

// ======= Loan Section Styles End ============

@media only screen and (max-width: 1023px) {
  .banner-objects {
    &__right {
      right: 10%;
      top: 29%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .banner-objects {
    &__right {
      right: 10%;
      top: 29%;
    }
  }
}
@media only screen and (max-width: 639px) {
  .banner-objects {
    &__right {
      right: 10%;
      top: 29%;
    }
  }
}

.swiper-wrapper {
  display: flex;
  justify-items: center;
}

// standOut section title
.standOut-section-title {
  &::before {
    content: "";
    position: absolute;
    width: 40px;
    background-color: #fff;
    height: 1px;
  }
}

// countdown section
.countdown-section {
  background-image: url("../../public/images/countdown_bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

// credit card
.card-section::after {
  content: "";
  position: absolute;
  background-color: #ffd584;
  width: 40%;
  height: 50%;
  border-radius: 50px 0 0 50px;
  right: 0;
  top: 25%;
  z-index: -2;
}

.card-arrow {
  &__left:hover::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color-2);
    width: 40px;
    height: 40px;
    left: -20px;
    top: -15px;
    z-index: -1;
    border-radius: 100%;
  }
  &__right:hover:after {
    content: "";
    position: absolute;
    background-color: var(--primary-color-2);
    width: 40px;
    height: 40px;
    left: 50%;
    top: -15px;
    z-index: -1;
    border-radius: 100%;
  }
}

// open account
.open-account-section {
  background-image: url("../../public/images/call-to-action-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

// latest feature article
.latest-article-section {
  background-image: url("../../public/images/feature_dot.png");
  background-color: #191b1a;
}

// account
.account-section {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: #055f5b;
    right: 0px;
    bottom: 0px;
    width: 35%;
    height: 100%;
    z-index: -2;
    background-size: contain;
  }

  .visa-card_bg {
    content: "";
    position: absolute;
    right: 5%;
    top: 20%;
    width: 450px;
    height: 300px;
    z-index: -1;
    background-repeat: no-repeat;
  }

  &__card-container {
    .card-content {
      position: relative;
      overflow: clip;
      padding: 33px 0 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: self-start;
    }
    .card-left {
      background-color: rgba(0, 102, 255, 0.06);
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../public/images/earth.png");
        z-index: 122;
        right: -17%;
        bottom: -24%;
        width: 169px;
        height: 169px;
        background-size: contain;
      }
      &::after {
        content: "";
        position: absolute;
        background-image: url("../../public/images/visa.png");
        z-index: 122;
        right: -21%;
        bottom: -64%;
        width: 169px;
        height: 169px;
        background-repeat: no-repeat;
      }
    }

    .card-right {
      background-color: #ffd584;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../public/images/asset.png");
        z-index: 122;
        right: 2%;
        bottom: -5%;
        width: 169px;
        height: 169px;
        background-size: contain;
      }
    }
  }
}

// Footer section
.footer-section {
  background: url("../../public//images/feature_dot.png");
  background-color: #191b1a;

  &::after {
    content: "";
    background: url("../../public//images/footer_bg.png") repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: previewShapeY 25s linear infinite;
    z-index: -1;
  }
}
