@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-container {
    @apply mx-auto lg:max-w-[1296px];
  }
  .grid-2-center {
    @apply grid grid-cols-2 items-center justify-between;
  }

  .my-transition {
    @apply duration-350 py-10 transition-all delay-100 ease-in-out;
  }
}

:root {
  --primary-color-1: #055f5b;
  --primary-color-2: #ffd584;
  --primary-color-2-1: rgba(255 213 132 / 0.1);
  --primary-color-2-2: rgba(255 213 132 / 0.2);
  --primary-text-1: #191b1a;
  --primary-text-2: #6f7278;
  --sub-title-color: #292c32;
  --section-bg: #fafafc;
  --border-color: #caccd1;
}

inset-block-start: 100%;
pointer-events: unset;
visibility: visible;
opacity: 1;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
