@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-2-center {
    @apply grid grid-cols-2 items-center justify-between;
  }

  .my-transition {
    @apply duration-350 py-10 transition-all delay-100 ease-in-out;
  }

  .section-gap {
    @apply py-[50px]  md:py-[60px] lg:py-[70px] xl:py-[120px];
  }

  .header-section-space {
    @apply max-lg:ps-2;
  }

  .horizontal-gap {
    @apply px-3  xl:px-0;
  }

  .container {
    @apply mx-auto max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1320px];
  }
}

:root {
  --primary-color-1: #055f5b;
  --primary-color-2: #ffd584;
  --primary-color-2-2: rgba(255 213 132 / 0.2);
}

html {
  scroll-behavior: smooth;
}
