// ****************** Home Page Styles Start  ******************

// ======= Navbar Section Styles Start ============

html {
  scroll-padding-top: 80px;
}

.header-active {
  position: fixed;
  top: -70px;
  transform: translateY(70px);
  transition: transform 0.5s;
  background-position: center;
  left: 0;
  width: 100%;
  z-index: 50000;
}

.navbar {
  &::after {
    content: "";
    top: 100%;
    position: absolute;
    border-bottom: 1px solid rgba(233, 248, 247, 0.1254901961);
    width: 96%;
    left: 2%;
    z-index: 1;
  }

  .nav__items li {
    a {
      position: relative;
      display: flex;
      &::before {
        content: "";
        position: absolute;
        opacity: 0;
        width: 0px;
        height: 0px;
        background-color: var(--primary-color-2);
        top: 100%;
        left: 45%;
        transition: all 0.35s ease-in-out;
      }
    }

    .active-nav-hover {
      &::before {
        position: absolute;
        top: 60%;
        opacity: 0;
        width: 2px;
        height: 20px;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }

    .active-nav {
      &::before {
        position: absolute;
        top: 60%;
        opacity: 1;
        width: 2px;
        height: 20px;
      }
    }

    .dropdown-icon {
      &::after {
        border: none;
        content: "\e5cf";
        font-family: "Material Symbols Outlined";
        font-size: 20px;
        margin-left: auto;
        transition: all 0.35s ease-in-out 0.1s;
      }
      &:hover {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.dropdown-custom-class {
  inset-inline-start: 0;
  inset-block-start: calc(100% + 0.5rem);
  pointer-events: none;
  min-width: 230px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: #055f5b;
  margin: 0;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.15);
  padding: 18px 0;
  border-radius: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

.dropdown-custom-class-sub-item {
  inset-inline-start: 0;
  inset-block-start: calc(100% + 0.5rem);
  pointer-events: none;
  min-width: 230px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: #055f5b;
  margin: 0;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.15);
  padding: 18px 0;
  border-radius: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

.navbar-banner {
  background: url(../public//images/inner_banner.png), #055f5b;
  background-position: center, auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.dot-bg {
  background-image: url("../public/images/feature_dot.png");
}

// ======= Navbar Section Styles End ============

// ======= Banner Section Styles Start ============

@media (min-width: 768px) {
  .banner {
    background: url("../public//images/hero_bg_dot.png"),
      url("../public//images/hero_bg.png");
    background-repeat: no-repeat;
    background-position:
      center bottom,
      center;
    background-size: auto, cover;
    height: 100%;
  }
}
.main-heading {
  line-height: 120%;
}

.card {
  margin-top: 20px;

  @media (min-width: 768px) {
    &__left {
      left: 13%;
      transform-origin: left bottom;
      bottom: -18%;
      position: absolute;
      transition: 1s;
      z-index: -1;
    }

    &__right {
      right: 12%;
      transform-origin: left bottom;
      bottom: -4%;
      position: absolute;
      transition: 1s;
      z-index: -1;
    }
  }

  @media (min-width: 992px) {
    &__left {
      left: 15%;
      transform-origin: left bottom;
      bottom: -20%;
      position: absolute;
      transition: 1s;
      z-index: -1;
    }

    &__right {
      right: 14%;
      transform-origin: left bottom;
      bottom: -6%;
      position: absolute;
      transition: 1s;
      z-index: -1;
    }
  }

  @media (min-width: 1200px) {
    &__left {
      left: 20%;
      transform-origin: left bottom;
      bottom: -20%;
      position: absolute;
      transition: 1s;
      z-index: -1;
    }

    &__right {
      right: 19%;
      transform-origin: left bottom;
      bottom: -6%;
      position: absolute;
      transition: 1s;
      z-index: -1;
    }
  }

  @media (min-width: 1400px) {
    &__left {
      left: 25%;
      transform-origin: left bottom;
      bottom: -20%;
      position: absolute;
      transition: 1s;
      z-index: -1;
    }

    &__right {
      right: 23%;
      transform-origin: left bottom;
      bottom: -6%;
      position: absolute;
      transition: 1s;
      z-index: -1;
    }
  }

  @media (min-width: 576px) {
    margin-top: 30px;
  }

  @media (min-width: 768px) {
    margin-top: 50px;
  }

  @media (min-width: 992px) {
    margin-top: 60px;
  }

  @media (min-width: 1200px) {
    margin-top: 70px;
  }
}

.banner-objects {
  &__left {
    top: 20%;
    width: 75%;
  }

  &__right {
    right: 20%;
    top: 40%;
  }
}

@media only screen and (max-width: 1023px) {
  .banner-objects {
    &__right {
      right: 10%;
      top: 29%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .banner-objects {
    &__right {
      right: 10%;
      top: 29%;
    }
  }
}
@media only screen and (max-width: 639px) {
  .banner-objects {
    &__right {
      right: 10%;
      top: 29%;
    }
  }
}

// ======= Banner Section Styles End ============

// ======= Loan Section Styles Start ============
.loan-section {
  &__sub-heading {
    &::after {
      content: "";
      border-bottom: 1px solid #000;
      width: 71px;
    }
  }
}

@keyframes rotate360deg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.with-arrow::after {
  display: none;
  content: "";
  background-image: url("../public/images/explore.png");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 13px solid transparent;
  left: 0;
  top: 0;
  animation: rotate360deg 30s linear infinite;
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  .with-arrow::after {
    display: block;
  }
}

@media (min-width: 768px) {
  .with-arrow::after {
    content: "";
    background-image: url("../public/images/explore.png");
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 13px solid transparent;
    left: 0;
    top: 0;
    animation: rotate360deg 30s linear infinite;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .with-arrow::after {
    display: block;
  }
}

@media (min-width: 1200px) {
  .with-arrow::after {
    display: block;
  }
}

@media (min-width: 1400px) {
  .with-arrow::after {
    display: block;
  }
}

// ======= Loan Section Styles End ============

@media (max-width: 768px) {
  .countdown-section {
    background-image: url("../public/images/countdown_bg.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  // countdown section
  .countdown-section {
    background-image: url("../public/images/countdown_bg.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

// credit card

@media (min-width: 768px) {
  .card-section::after {
    content: "";
    position: absolute;
    background-color: #ffd584;
    width: 40%;
    height: 50%;
    border-radius: 50px 0 0 50px;
    right: 0;
    top: 25%;
    z-index: -2;
  }
}

@media (min-width: 992px) {
  .card-section::after {
    display: block;
    content: "";
    position: absolute;
    background-color: #ffd584;
    width: 40%;
    height: 50%;
    border-radius: 50px 0 0 50px;
    right: 0;
    top: 25%;
    z-index: -2;
  }
}

.card-arrow {
  &__left::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: -20px;
    top: -15px;
    border: 1px solid var(--primary-color-2);
    z-index: 1;
    border-radius: 100%;
  }
  &__left:hover::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color-2);
    width: 40px;
    height: 40px;
    left: -20px;
    top: -15px;
    z-index: 1;
    border-radius: 100%;
  }

  &__right::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: -15px;
    border: 1px solid var(--primary-color-2);
    z-index: 1;
    border-radius: 100%;
  }

  &__right:hover:after {
    content: "";
    position: absolute;
    background-color: var(--primary-color-2);
    width: 40px;
    height: 40px;
    left: 50%;
    top: -15px;
    z-index: 1;
    border-radius: 100%;
  }
}

// open account
.open-account-section {
  background-image: url("../public/images/call-to-action-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

// latest feature article
.latest-article-section {
  background-image: url("../public/images/feature_dot.png");
  background-color: #191b1a;
}

.account-section {
  @media (min-width: 1200px) {
    // account
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: #055f5b;
      right: 0px;
      bottom: 0px;
      width: 35%;
      height: 100%;
      z-index: -2;
      background-size: contain;
    }
  }

  .visa-card_bg {
    content: "";
    position: absolute;
    right: 5%;
    top: 20%;
    width: 450px;
    height: 300px;
    z-index: -1;
    background-repeat: no-repeat;
  }

  &__card-container {
    .card-content {
      position: relative;
      overflow: clip;
      padding: 33px 0 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: self-start;
    }

    @media (min-width: 768px) {
    }
    .card-left {
      background-color: rgba(0, 102, 255, 0.06);
      &::before {
        content: "";
        position: absolute;
        background-image: url("../public/images/earth.png");
        z-index: 122;
        right: -17%;
        bottom: -24%;
        width: 169px;
        height: 169px;
        background-size: contain;
      }
      &::after {
        content: "";
        position: absolute;
        background-image: url("../public/images/visa.png");
        z-index: 122;
        right: -21%;
        bottom: -64%;
        width: 169px;
        height: 169px;
        background-repeat: no-repeat;
      }
    }

    .card-right {
      // background-color: #ffd584;
      // background-position: 0.2;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../public/images/asset.png");
        z-index: 122;
        right: 2%;
        bottom: -5%;
        width: 169px;
        height: 169px;
        background-size: contain;
      }
    }
  }
}

// Footer section
.footer-section {
  background: url("../public//images/feature_dot.png");
  background-color: #191b1a;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    background: url("../public//images/footer_bg.png") repeat;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    width: 100%;
    height: 100%;
    // animation: previewShapeY 25s linear infinite;
    z-index: -1;
  }
}

// ****************** Home Page Styles End  ******************

// ****************** checking Account page style start  ******************

@media (min-width: 1200px) {
  .paying-section {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: #e7e9ee;
      z-index: -1;
      left: 0px;
      bottom: 0px;
      width: 197px;
      height: 263px;
      background-size: contain;
    }
  }
}

.work-card {
  position: relative;

  @for $i from 1 through 4 {
    &:nth-child(#{$i})::after {
      content: "0#{$i}";
      position: absolute;
      color: rgba(5, 95, 91, 0.1);
      font-size: 72px;
      font-weight: bold;
      z-index: 122;
      right: 10%;
      top: 40px;
    }
  }
}

// ****************** checking Account page style End  ******************

// ****************** Home Loan page style start  ******************
// range Slider yellow
#range-slider-yellow .range-slider__range {
  background: #ffd584;
  transition: height 0.3s;
}

.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}

.single-thumb .range-slider__thumb[data-upper] {
  background: #ffd584;
}

// range Slider green
#range-slider-green .range-slider__range {
  background: var(--primary-color-1);
  transition: height 0.3s;
}

.single-thumb-green .range-slider__thumb[data-upper] {
  background: var(--primary-color-1);
}

.single-thumb-green .range-slider__thumb[data-lower] {
  width: 0;
}

// Home Loan page
.how-it-work-section {
  .card-how-to-work {
    .card-number::after {
      content: "";
      position: absolute;
      background: #ffd584;
      border-radius: 5px;
      height: 50%;
      width: 110%;
      padding: 0 10px;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    .card-title {
      font-family: ver(--head-font);
      font-size: 24px;
      font-weight: 600;
      line-height: 130%;
      margin-top: 32px;
    }
    .card-text {
      font-size: 18px;
      line-height: 150%;
      margin-top: 12px;
    }
  }
}

// ****************** Home Loan page style End  ******************

// ****************** Blog page style Start  ******************
// blog page pagination
.pagination {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style-type: none;
  padding: 0 3rem;
  margin-bottom: 120px;
}

.pagination li a {
  border-radius: 7px;
  padding: 0.5rem 0.8rem;
  border: var(--primary-color-1) 1px solid;
  color: var(--primary-color-1);
  cursor: pointer;
}

.pagination li.active a {
  border: var(--primary-color-1) 1px solid;
  background-color: var(--primary-color-1);
  color: #fff;
}

ul.pagination li.selected a {
  background-color: #0366d6;
  border-color: transparent;
  color: white;
  min-width: 30px;
}

ul.pagination li.disabled a {
  border-radius: 7px;
  padding: 0.5rem 0.8rem;
  border: var(--primary-color-1) 1px solid;
  background: #caccd1;
  border-color: transparent;
}

ul.pagination li.disable,
ul.pagination li.disabled a {
  cursor: default;
}
// ****************** Blog page style End  ******************

// ****************** Share Component Style Start ***********************

// <BankingService> component Style start

.browse-set-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  .browse-set-card:nth-child(1),
  .browse-set-card:nth-child(2),
  .browse-set-card:nth-child(3),
  .browse-set-card:nth-child(4),
  .browse-set-card:nth-child(5),
  .browse-set-card:nth-child(6) {
    grid-column: 1 / 13;
  }

  @media (min-width: 768px) {
    .browse-set-card:nth-child(1) {
      grid-column: 1 / 13;
    }

    .browse-set-card:nth-child(3),
    .browse-set-card:nth-child(5) {
      grid-column: 7 / 13;
    }

    .browse-set-card:nth-child(2),
    .browse-set-card:nth-child(4),
    .browse-set-card:nth-child(6) {
      grid-column: 1/ 7;
    }
  }

  @media (min-width: 992px) {
    .browse-set-card:nth-child(1),
    .browse-set-card:nth-child(3),
    .browse-set-card:nth-child(5) {
      grid-column: 1 / 7;
    }

    .browse-set-card:nth-child(2),
    .browse-set-card:nth-child(4),
    .browse-set-card:nth-child(6) {
      grid-column: 7 / 13;
    }
  }

  @media (min-width: 1200px) {
    .browse-set-card:nth-child(1) {
      grid-column: 1 / 7;
    }
    .browse-set-card:nth-child(2),
    .browse-set-card:nth-child(5) {
      grid-column: 7 / 10;
    }
    .browse-set-card:nth-child(3),
    .browse-set-card:nth-child(6) {
      grid-column: 10 / 13;
    }

    .browse-set-card:nth-child(4) {
      grid-column: 4/ 7;
    }
  }

  @media (min-width: 1400px) {
    .browse-set-card:nth-child(1) {
      grid-column: 1 / 7;
    }
    .browse-set-card:nth-child(2),
    .browse-set-card:nth-child(5) {
      grid-column: 7 / 10;
    }
    .browse-set-card:nth-child(3),
    .browse-set-card:nth-child(6) {
      grid-column: 10 / 13;
    }

    .browse-set-card:nth-child(4) {
      grid-column: 4/ 7;
    }
  }
}

// <BankingService> component Style end

// =============(This style apply more then one component)=================

//  section top mark style start
@media (min-width: 992px) {
  .section-top-mark {
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      background-color: #fff;
      height: 1px;
    }
  }
}
@media (min-width: 992px) {
  .section-top-mark-black {
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      background-color: #000;
      height: 1px;
    }
  }
}
//  section top mark style end

.full-width-image img {
  min-width: max-content;
}

.slick-list .slick-track {
  margin: 0 auto;
}

@media (max-width: 576px) {
  .space-y-10 > :not([hidden]) ~ :not([hidden]) {
    margin-top: calc(1.3rem * calc(1 - var(--tw-space-y-reverse)));
  }
}

//************************ Share Component Style End **********************
