@forward "./all-pages-styles";

.dot-bg {
  background-image: url("../public/images/feature_dot.png");
}

.py-60px {
  padding-top: 60px;
  padding-bottom: 60px;
}

.border-with-gray-bg {
  border-radius: 5px;
  border: 1px solid #e7e9ee;
  background: #fafafc;
}

// range Slider yellow
#range-slider-yellow .range-slider__range {
  background: #ffbf00;
  transition: height 0.3s;
}

.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}

.single-thumb .range-slider__thumb[data-upper] {
  background: #ffbf00;
}

// range Slider green
#range-slider-green .range-slider__range {
  background: var(--primary-color-1);
  transition: height 0.3s;
}

.single-thumb-green .range-slider__thumb[data-upper] {
  background: var(--primary-color-1);
}

.single-thumb-green .range-slider__thumb[data-lower] {
  width: 0;
}

// Home Loan page
.how-it-work-section {
  .card-how-to-work {
    .card-number::after {
      content: "";
      position: absolute;
      background: #ffd584;
      border-radius: 5px;
      height: 50%;
      width: 110%;
      padding: 0 10px;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    .card-title {
      font-family: ver(--head-font);
      font-size: 24px;
      font-weight: 600;
      line-height: 130%;
      margin-top: 32px;
    }
    .card-text {
      font-size: 18px;
      line-height: 150%;
      margin-top: 12px;
    }
  }
}

.max-unset {
  max-width: unset;
}

// blog page pagination
.pagination {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style-type: none;
  padding: 0 3rem;
  margin-bottom: 120px;
}

.pagination li a {
  border-radius: 7px;
  padding: 0.5rem 0.8rem;
  border: var(--primary-color-1) 1px solid;
  color: var(--primary-color-1);
  cursor: pointer;
}

.pagination li.active a {
  border: var(--primary-color-1) 1px solid;
  background-color: var(--primary-color-1);
  color: #fff;
}

ul.pagination li.selected a {
  background-color: #0366d6;
  border-color: transparent;
  color: white;
  min-width: 30px;
}

ul.pagination li.disabled a {
  border-radius: 7px;
  padding: 0.5rem 0.8rem;
  border: var(--primary-color-1) 1px solid;
  background: #caccd1;
  border-color: transparent;
}

ul.pagination li.disable,
ul.pagination li.disabled a {
  cursor: default;
}

.custom-class {
  inset-inline-start: 0;
  inset-block-start: calc(100% + 0.5rem);
  pointer-events: none;
  min-width: 230px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: #055f5b;
  margin: 0;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.15);
  padding: 18px 0;
  border-radius: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

.custom-class-sub-item {
  inset-inline-start: 0;
  inset-block-start: calc(100% + 0.5rem);
  pointer-events: none;
  min-width: 230px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: #055f5b;
  margin: 0;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.15);
  padding: 18px 0;
  border-radius: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

@keyframes rotate360deg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate360deg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.with-arrow::after {
  display: none;
  content: "";
  background-image: url("../public/images/explore.png"); /* Replace 'path/to/your/image.png' with the actual path to your image */
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 13px solid transparent;
  left: 0;
  top: 0;
  animation: rotate360deg 30s linear infinite;
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  .with-arrow::after {
    display: block;
  }
}

@media (min-width: 768px) {
  .with-arrow::after {
    content: "";
    background-image: url("../public/images/explore.png"); /* Replace 'path/to/your/image.png' with the actual path to your image */
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 13px solid transparent;
    left: 0;
    top: 0;
    animation: rotate360deg 30s linear infinite;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .with-arrow::after {
    display: block;
  }
}

@media (min-width: 1200px) {
  .with-arrow::after {
    display: block;
  }
}

@media (min-width: 1400px) {
  .with-arrow::after {
    display: block;
  }
}

.browse-set-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  .browse-set-card:nth-child(1),
  .browse-set-card:nth-child(2),
  .browse-set-card:nth-child(3),
  .browse-set-card:nth-child(4),
  .browse-set-card:nth-child(5),
  .browse-set-card:nth-child(6) {
    grid-column: 1 / 13;
  }

  @media (min-width: 768px) {
    .browse-set-card:nth-child(1) {
      grid-column: 1 / 13;
    }

    .browse-set-card:nth-child(3),
    .browse-set-card:nth-child(5) {
      grid-column: 7 / 13;
    }

    .browse-set-card:nth-child(2),
    .browse-set-card:nth-child(4),
    .browse-set-card:nth-child(6) {
      grid-column: 1/ 7;
    }
  }

  @media (min-width: 992px) {
    .browse-set-card:nth-child(1),
    .browse-set-card:nth-child(3),
    .browse-set-card:nth-child(5) {
      grid-column: 1 / 7;
    }

    .browse-set-card:nth-child(2),
    .browse-set-card:nth-child(4),
    .browse-set-card:nth-child(6) {
      grid-column: 7 / 13;
    }
  }

  @media (min-width: 1200px) {
    .browse-set-card:nth-child(1) {
      grid-column: 1 / 7;
    }
    .browse-set-card:nth-child(2),
    .browse-set-card:nth-child(5) {
      grid-column: 7 / 10;
    }
    .browse-set-card:nth-child(3),
    .browse-set-card:nth-child(6) {
      grid-column: 10 / 13;
    }

    .browse-set-card:nth-child(4) {
      grid-column: 4/ 7;
    }
  }

  @media (min-width: 1400px) {
    .browse-set-card:nth-child(1) {
      grid-column: 1 / 7;
    }
    .browse-set-card:nth-child(2),
    .browse-set-card:nth-child(5) {
      grid-column: 7 / 10;
    }
    .browse-set-card:nth-child(3),
    .browse-set-card:nth-child(6) {
      grid-column: 10 / 13;
    }

    .browse-set-card:nth-child(4) {
      grid-column: 4/ 7;
    }
  }
}

.full-width-image img {
  min-width: max-content;
}

// @media (min-width: 576px) {
// }

// @media (min-width: 768px) {
// }

// @media (min-width: 992px) {
// }

// @media (min-width: 1200px) {
// }

// @media (min-width: 1400px) {
// }
